<form [formGroup]="newPost" novalidate (ngSubmit)="onSubmit()" class="form">
  <div class="form__control">
    <label for="title" class="form__control__name"> Title: </label>
    <div class="">
      <input formControlName="title" type="text" id="title" />
    </div>
    <small
      class="form__control__alert"
      role="alert"
      *ngIf="
        newPost.controls.title?.errors?.required &&
        newPost.controls.title?.touched
      "
    >
      Title is required!
    </small>
  </div>
  <div class="form__control">
    <label for="description" class=""> Description: </label>
    <div>
      <input formControlName="description" type="text" id="description" />
    </div>
  </div>

  <div>
    <div>
      <button class="button" type="submit">Submit</button>
    </div>
  </div>
</form>
<div>
  <pre
    >{{ newPost.value | json }}
  </pre>
</div>
