<div class="post-list" *ngFor="let post of posts">
  <div *ngIf="!posts">loading...</div>
  <div class="post">
    <p class="post__username">{{ post.user.username }}</p>
    <div class="wrapper">
      <strong class="post__title">{{ post.title }}</strong>
      <small class="post__createdAt">{{
        post.createdAt | date: "medium"
      }}</small>
      <p class="post__description">{{ post.description }}</p>
    </div>
    <button class="button" (click)="deletePost()">X</button>
  </div>
</div>
